  <section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a href="tel:+916300607467"><i class="fas fa-phone">6300607467</i></a>
        </div>
        <div class="col-md-4">
          <a href="mailto:nagendrareddy539@gmail.com"><i class="fas fa-envelope-open"></i> nagendrareddy539@gmail.com</a>
        </div>
        <div class="col-md-4">
          <div class="social text-right">
            <a href="https://www.facebook.com/nagendrareddy1239">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.linkedin.com/in/nagendra-reddy-48588a137/">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://www.instagram.com/nagendra_reddy_98/">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>